/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
/donate/.editorconfig
/donate/.env.example
/donate/.styleci.yml
/donate/public/0.js
/donate/public/1.js
/donate/public/2.js
/donate/public/3.js
/donate/public/css/app.css
/donate/public/js/app.js
/.idea/codeStyles/codeStyleConfig.xml
/donate/public/mix-manifest.json
/.idea/modules.xml
/.idea/php.xml
/.idea/pmk.iml
/.idea/vcs.xml
/.idea/workspace.xml
